[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/valloric/YouCompleteMe.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
